<div class="login">
    <form *ngIf="loggingIn" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input placeholder="username" formControlName="username" type="text" pInputText required> 
        <input placeholder="senha" formControlName="password" type="password" pPassword required />

        <button pButton pRipple type="button" class="p-button" type="submit" [disabled]="!form.valid">{{ loggingIn ? 'Login' : 'Sign Up' }}</button>
        <button pButton pRipple type="button" class="p-button-text" (click)="changeButton()">{{ loggingIn ? 'Sign Up' : 'Login' }}</button>
        
    </form>

    <form *ngIf="!loggingIn" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input placeholder="username" formControlName="username" type="text" pInputText required> 
        <input placeholder="senha" formControlName="password" type="password" pPassword required />
        <input placeholder="repetir senha" formControlName="repeatPassword" type="password" pPassword  />

        <button pButton pRipple type="button" class="p-button" type="submit" [disabled]="!form.valid">{{ loggingIn ? 'Login' : 'Sign Up' }}</button>
        <button pButton pRipple type="button" class="p-button-text" (click)="changeButton()">{{ loggingIn ? 'Sign Up' : 'Login' }}</button>
        
    </form>
</div>