<div class="dock">
  <div>
    <i
      class="pi pi-dollar"
      routerLink="/transactions"
      [ngClass]="{ selected: router.url === '/transactions' }"
      style="font-size: 2rem"></i>
    <i
      class="pi pi-credit-card"
      routerLink="/cards"
      [ngClass]="{ selected: router.url === '/cards' }"
      style="font-size: 2rem"></i>
    <i
      class="pi pi-user"
      routerLink="/user"
      [ngClass]="{ selected: router.url === '/user' }"
      style="font-size: 2rem">
    </i>
  </div>
  <footer class="foot">
    <p><sup>&copy;</sup> Todos os direitos reservados</p>
  </footer>
</div>
