@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.container {
  padding: 0px;
  display: flex;
  flex-direction: row;
  background-color: gray;
}

.box-tile {
  padding: 80px 10px;
  margin: 0px auto;
}
