.p-element {
    display: flex;
    justify-content: center;
}
.box-cadastro {
  margin: 0px 40px;
  padding: 30px;
  background-color: rgb(185, 192, 196, 0.5);
  justify-content: center;
}


#enviar, #limpar {
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  /* font-weight: bold; */
}

.form-group, .input-group {
  margin: 0px;
}

input , select {
  margin-bottom: 5px;
}

input, select , #floatingTextarea2 {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0;
  outline: none;
  height: 50px;
}
label{
  padding-left:5px;
  margin: 0px;
}

sub {
  padding-left: 5px;
}

span {
  font-size: 10px;
  align-items: flex-start;
}

p {
  font-size: 23px;
  text-align: center;
  font-weight: bolder;
  text-shadow: -2px 1px 2px rgba(199, 197, 197, 0.514);
}

.p-button-danger {
  margin-inline: 20px;
}

.p-dataview-header {
  display: flex;
  justify-content: space-between;
}

.movement-list, .card-list {
  margin-top: 25px;
}

.p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-description {
  margin: 0 0 1rem 0;
}

.product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.product-category {
  font-weight: 600;
  vertical-align: middle;
}

.product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;

  img {
      width: 150px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
  }

  .product-list-detail {
      flex: 1 1 0;
  }

  .p-rating {
      margin: 0 0 .5rem 0;
  }

  .product-price {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: .5rem;
      align-self: flex-end;
  }

  .product-list-action {
      display: flex;
      flex-direction: column;
  }

  .p-button {
      margin-bottom: .5rem;
  }
}

.product-grid-item {
  margin: .5em;
  border: 1px solid #dee2e6;

  .product-grid-item-top,
  .product-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  img {
      width: 75%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 2rem 0;
  }

  .product-grid-item-content {
      text-align: center;
  }

  .product-price {
      font-size: 1.5rem;
      font-weight: 600;
  }
}